# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Build output
dist/
build/

# Configuration files
.env
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.swn
*~
*.bak
*.tmp
*.orig

# System files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Yarn cache directory
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# TypeScript files
*.tsbuildinfo

# Temporary files
temp/
tmp/
output/
# Local Terraform state
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore Terraform variable override files
# These files are usually used to override variables and should not be shared
*.tfvars
*.tfvars.json

# Ignore Terraform execution plan files
*.tfplan

# Ignore the .terraform directory and its contents
.terraform/

# Ignore backup files created by Terraform
*.backup

# Ignore sensitive data files (optional, based on your workflow)
secrets.auto.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc

*.pdf
service-account.json